.cv-button {
  background-color: var(--cv-color-action-primary);
  color: var(--cv-color-surface-default);
  border: none;
  padding: var(--cv-space-component-padding-y) var(--cv-space-component-padding-x);
  font-size: var(--cv-font-size-sm);
  font-family: var(--cv-font-family-base);
  cursor: pointer;
  border-radius: var(--cv-radius-sm);
}

.cv-button:hover {
  background-color: var(--cv-color-action-primary-hover);
  color: var(--cv-color-text-primary);
}
